{% extends "layout.html" %}

{% block title %}
        - About
{% endblock %}

{% block pageclass %} page-about{% endblock %}

{% block metadesc %}About Ryan B. Green — Software Development Engineer at AWS in Vancouver, U of T computer science grad. What he's doing, what he's into, and where he's headed.{% endblock %}

{% block content %}
<div class="quote-block">
  <div class="quote-label"><i class="fa fa-film"></i> Film of the hour</div>
  <p class="quote-text" id="film-quote">&#8220;{{ quote }}&#8221;</p>
  <div class="quote-cite" id="film-cite">&#8212; <em>{{ film }}</em>, {{ year }} &middot; rotates every hour</div>
</div>

<div class="about-card">
  <div class="about-head">
    <img src="/static/images/avatar.png" alt="Avatar" width="128" height="128">
    <h4>Ryan B. Green</h4>
  </div>
  {% if choice == 'start' %}
    <h6>Hello!</h6>
    <p>I'm Ryan, and thank you for checking out my website.</p>
    <p>I guess I have to write about myself now, seeing as this is the 'about' section.</p>
    <p>Hmm...what should I write...</p>
    <p><b>I know what to do! I'll let you decide!</b></p>

    <p><b>Would you rather see:</b></p>
    <div class="choice-btns">
      <a href="/about/doing/" class="btn-choice c-r"><i class="fa fa-lightbulb-o fa-lg"></i> What I'm Doing</a>
      <a href="/about/like/" class="btn-choice c-b"><i class="fa fa-thumbs-up fa-lg"></i> What I Like</a>
      <a href="/about/going/" class="btn-choice c-g"><i class="fa fa-space-shuttle fa-lg"></i> Where I'm Going</a>
    </div>
  {% else %}
    {% if choice == 'doing' %}
      <h6>What I'm Doing:</h6>
      <p>Right now, I am a Software Development Engineer at Amazon Web Services (AWS), working on-site in Vancouver, BC.</p>
      <p>I graduated from the University of Toronto in May 2024 with an Honours Bachelor of Science with High Distinction &mdash; Computer Science Specialist, GPA 3.79/4.0. During my degree I completed a 16-month PEY/Co-op term as an Engineering Intern on the Post-Silicon Team at Intel.</p>
      <p>But that's not all I do...</p>
      <p><b>Check out the other options by clicking the button below:</b></p>

    {% elif choice == 'like' %}
      <h6>What I Like:</h6>
      <p>When I'm not working on an assignment or personal project, I have many interests, including but not limited to: reading, watching television and films, and gaming.</p>
      <p>Some of my favourite novels are:</p>
      <ul>
        <li>Ready Player One by Ernest Cline</li>
        <li>The War of the Worlds by H.G. Wells</li>
        <li>Dune by Frank Herbert</li>
        <li>Kenobi by John Jackson Miller</li>
        <li>The Sherlock Holmes stories by Sir Arthur Conan Doyle</li>
      </ul>
      <p>Some of my favourite films/film series are:</p>
      <ul>
        <li>The Back to the Future Trilogy</li>
        <li>The Marvel Cinematic Universe</li>
        <li>Ferris Bueller's Day Off</li>
        <li>Ghostbusters</li>
        <li>Star Wars (Episodes I-IX as well as Solo and Rogue One)</li>
        <li>The Harry Potter and Fantastic Beasts Series</li>
      </ul>
      <p>Some of my favourite television series are:</p>
      <ul>
        <li>LOST</li>
        <li>Prison Break</li>
        <li>Smallville</li>
        <li>Sherlock</li>
        <li>The Flash</li>
        <li>Arrow</li>
        <li>Legends of Tomorrow</li>
        <li>The Last of Us</li>
        <li>The Umbrella Academy</li>
      </ul>
      <p>Finally, some of my favourite video games are:</p>
      <ul>
        <li>Team Fortress 2</li>
        <li>The Fallout Series</li>
        <li>Overwatch</li>
        <li>The Tomb Raider Reboot Series</li>
      </ul>
      <p>But that's not my whole life encapsulated!</p>
      <p><b>Check out the other options by clicking the button below:</b></p>

    {% else %}
      <h6>Where I'm Going:</h6>
      <p>Back.</p>
      <p>Back where, you may ask...</p>
      <h3>BACK TO THE FUTURE</h3>
      <p>...sorry about that. I couldn't resist.</p>
      <br>
      <p>To be honest, I'm not sure where I'm headed. I guess we will both have to stay tuned to find out!</p>
      <p><b>Check out the other options by clicking the button below:</b></p>

    {% endif %}
    <a href="/about/" class="btn-return"><i class="fa fa-mail-reply fa-lg"></i> Return</a>
    <div class="clear"></div>
  {% endif %}
</div>
{% endblock %}
