{% extends "layout.html" %}

{% block title %}
        - Error {{ code }}
{% endblock %}

{% block body %}
  <h4 class="w3-opacity" style="padding: 10px"><b>Error {{ code }} - {{ message }}</b></h4>
{% endblock %}

{% block middle %}
  <div class="w3-container w3-card w3-white w3-round w3-margin"><br>
    <span class="w3-opacity">It looks like you are: </span>
    <img src="/static/images/LOST.jpg" alt="You Are LOST" style="width: 100%; height: auto;">
    <hr class="w3-clear">
    <a href="/" style="float: right; text-decoration: none;" class="w3-button w3-theme-d2 w3-margin-bottom"><i class="fa fa-reply"></i> Return to Home </a>
  </div>
{% endblock %}

